@tailwind base;
@tailwind components;
@tailwind utilities;
option{
    padding: 5px !important;
}
.hero{
    background-image:linear-gradient(40deg, rgba(0, 0, 0, 0.5)100%, transparent 50%), url("./assets/img/momonodo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}